.search-wrapper {
  display: flex;
  position: relative;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  overflow: hidden;
}

.search-wrapper:focus {
  border: 1px solid #535bf2;
}

.search-wrapper > input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 40px;
  padding-left: 10px;
  outline: none;
  font-size: 26px;
  font-family: "Microsoft Sans Serif", serif;
  color: #1a1a1a;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.search-wrapper > input:focus,
.search-wrapper > input:focus-visible,
.search-wrapper > input:active {
  border: none;
  outline: none;
  box-shadow: none;
}

.pl {
  padding-left: 10px;
}

.pl0 {
  padding-left: 0!important;
}


.search-engine {
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 5px;
}

.search-engine > span {
  background-color: skyblue;
  padding: 5px;
  border-radius: 5px;
}

.suggest-popup {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 66px;
  max-height: 88px;
  overflow-y: scroll;
  background-color: #87ceeb;
  color: #ffffff;
  border-radius: 5px;
}

.suggest-popup::-webkit-scrollbar {
  background-color: transparent;
  width: 1px;
}

.suggest-popup > p {
  margin: 0;
  padding: 0;
  text-align: center;
  user-select: none;
}

.suggest-popup > p:hover,
.suggest-popup > p:focus,
.suggest-popup > p:focus-visible {
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.15);
}
