.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.popup {
  position: relative;
  width: 600px;
  padding: 20px;
  z-index: 9999;
  top: 20%;
  left: 50%;
  color: #000000;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 5px;
}

.list {
  max-height: 500px;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  background-color: transparent;
  width: 2px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 2px;
}



.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 999;
}
