.main {
  min-width: 500px;
  max-width: 80%;
}

.title {
  font-size: 16px;
  color: #000000;
}

.tip {
  font-size: 12px;
  color: rgba(0,0,0,0.4);
}

.table {
  user-select: none;
  td {
    padding: 8px 16px!important;
  }
}

.edit-icon {
  font-size: 20px;
  user-select: none;
  padding: 5px;
  border-radius: 50%;
  &:hover {
    color: #068FFF;
    background-color: rgba(6,143,255,0.1);
  }
}

.operate-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.edit-wrapper {
  display: flex;
  justify-content: space-between;
}

